@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui"{
    themes: pastel --default;
}


/* เอา spin buttons ของ Chrome, Safari */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* เอา spin buttons ของ Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html, body, #root {
  height: 100%;
  margin: 0;
  background-color: #0B192C ; }

  body {
  font-family: 'Inter', sans-serif;
}